@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Rowdies', cursive;
}
body {
  background-color: whitesmoke;
}
/*----------------------------------------header----------------------------------------*/
.header {
    background: #FF8C00;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}
.header .logo, .header .menu {
  color: #ffffff;
}
.logo {
    font-size: 40px;
    padding: 0px 20px;
    cursor: pointer;
}
.content, .userfunction {
    display: flex;
    list-style-type: none;
    font-size: 20px;
}
.content li, .userfunction li {
    padding: 20px 20px;
}
.content li:hover, .userfunction li:hover {
    background-color: #FFA500;
    cursor: pointer;
}
/*----------------------------------------header----------------------------------------*/
.advertisement img {
  width: 100%;
  height: auto;
}
h1{
  color: #FF8C00;
  text-decoration: underline;
  text-align: center;
  padding-top: 10px;
}
/*----------------------------------------slider----------------------------------------*/
.slider {
    display: flex;
    padding: 30px 70px;
    align-items: center;
    justify-content: center;
}

.slide {
    display: flex;
    max-width: 1200px;
    position: relative;
    box-shadow: 3px 3px 3px #cfcfcf;
    border-radius: 20px;
}

.slide i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: white;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #FF8C00;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: 0.1s linear;
}

.slide i:active {
    transform: translateY(-50%) scale(0.9);
}

.slide i:first-child {
    left: -22px;
}

.slide i:last-child {
    right: -22px;
}

.slide .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: auto;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: 100%;
    border-radius: 20px;
}

.carousel img:first-child {
    margin-left: 0px;
}
/*----------------------------------------slider----------------------------------------*/
/*---------------------------------------products---------------------------------------*/
.wrapper {
    width: 95%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 1200px;
  }
  #search-container {
    margin: 10px 0;
  }
  #search-container input {
    background-color: whitesmoke;
    width: 40%;
    border-bottom: 2px solid black;
    padding: 10px 5px;
  }
  #search-container input:focus {
    border-bottom-color: #FF8C00;
  }
  #search-container button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #FF8C00;
    color: #ffffff;
    border-radius: 25px;
    margin-top: 5px;
  }
  .button-value {
    border: 2px solid #FF8C00;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: transparent;
    color: #FF8C00;
    cursor: pointer;
  }
  .btn-active {
    background-color: #FF8C00;
    color: #ffffff;
  }
  #products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px 65px;
  }
  .card {
    background-color: #ffffff;
    max-width: 100%;
    margin-top: 10px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px rgba(1, 2, 68, 0.08);
    transition: all 0.3s ease;
  }
  .card:hover {
    transform: translateY(-20px);
  }
  .card:hover h4 {
    text-decoration: underline;
  }
  .image-container {
    text-align: center;
  }
  .image-container img {
    max-width: 230px;
    object-fit: contain;
    height: 230px;
  }
  .container {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
  }
  .container h4 {
    font-weight: 500;
    color: #FF8C00;
  }
  .container h5 {
    color: black;
    padding-top: 10px;
  }
  .hide {
    display: none;
  }
  @media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
    .card {
      max-width: 10em;
      margin-top: 1em;
    }
    #products {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    }
  }
/*---------------------------------------products---------------------------------------*/
/*----------------------------------------footer----------------------------------------*/
.footer {
    background-color: #FF8C00;
    color: white;
}

.gridrow {
    display: flex;
}
.column24 {
    padding: 30px 45px;
    justify-content: space-between;
    align-items: center;
}
.column24 a {
    color: white;
}
.footerlogo {
    font-size: 45px;
}

.hotline {
    padding: 10px 25px;
    font-size: larger;
    list-style-type: none;
}
.minicontent {
    padding: 20px 0px;
    font-size: small;
    list-style-type: none;
}
/*----------------------------------------footer----------------------------------------*/